body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.all-trans{
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

#flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bar{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: Ubuntu, monospace, Monaco, "Lucida Console";
    background-color: aquamarine;
}

.bar > *{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    /*text-shadow: 0px 1px 1px gray; */

}

#name > h1{
    margin: 0 0 0 8px;
} 

#name .link{
    font-size: 1em;
}

.link{
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.link > *{
    margin: 0 2px;
}

.link:hover{
    background-color: #A8ABAD;
}

#top{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

#top-anim{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#top-anim > h2{
    font-size: 3em;
    margin-bottom: 50px;
    color: aquamarine;
}

#laptop{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#screen{
    width: 160px;
    height: 100px;
    text-align: left;
    overflow: hidden;
    padding: 20px 0 0 10px;
    border: 3px solid #535353;
    border-radius: 5px;
    color: forestgreen;
    background-color: black;
}

#screen{
    color: white;
}

#screen > #selector{
    color: #A6E22E;
}

#screen > #prop{
    color: #66D9EF;
}

#screen > #color-code{
    color: #F92672;
}

#keyboard{
    width: 160px;
    height: 85px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid darkgray;
    background-color: lightgray;
    box-shadow: 0px 2px 2px #383636;
}

#keyboard > div{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

#keyboard .key, #keyboard #space-bar{
    height: 7px;
    margin: 1px;
    border-radius: 2px;
    background-color: black;     
}

.key{
    position: relative;
    width: 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

.key.pressed{
    border-top: 1px solid #8C8E8E; /*change color for different key-pressed effects*/
}

#space-bar{
    width: 38px;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

#track-pad{
    position: relative;
    margin: 5px 0 0 0;
    width: 40px;
    height: 25px;
    border-radius: 2px;
    background-color: #bcbcbc;
}

#nav-bar{
    position: relative;
    height: 75px;
    justify-content: space-around;
    background-color: lightgray;  
}

#nav-bar .link{
    font-size: 1.5em;
}

#wrapper{
    position: relative;
    top:100%;
}

.dummies{
    width: 500px;
    height: 500px;
    background-color: blue;
}

.dummies:nth-child(1){
    background-color: green
}

@media screen and (max-width: 768px) {
    #name {justify-content: center;}
    #name > h1{font-size: 1.5em;}
    #name .link{display: none;}
    #nav-bar .link > p{display: none;}
}