body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, monospace, Monaco;
}

.all-trans{
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

a{
    outline: none;
}

a:link, a:visited {
    color: black;
}

#flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bar{
    position: fixed;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: Ubuntu, monospace, Monaco, "Lucida Console";
}

.bar > *{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    flex-grow: 1;
}

.link > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
}

.link > div > *{
    margin: 0 2px;
}

.link:hover > div, .link > div.hovered{
    color: white;
    background-color: #A8ABAD;
    background-color: rgba(0, 0, 0, .2);
}

#name{
    border-bottom: 5px outset #76F3CE;
    box-shadow: 0 1px 5px gray;
    color: black;
    background-color: aquamarine;
}

#name > h1{
    margin: 0 0 0 8px;
} 

#top{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
}

#top-anim{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#top-anim > h2{
    font-size: 3em;
    margin-bottom: 50px;
    font-family: Arial;
    color: aquamarine;
}

#laptop{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#screen{
    width: 160px;
    height: 100px;
    text-align: left;
    overflow: hidden;
    padding: 20px 0 0 10px;
    border: 3px solid #535353;
    border-radius: 5px;
    font-family: Arial;
    color: forestgreen;
    background-color: black;
}

#screen{
    color: white;
}

#screen > #selector{
    color: #A6E22E;
}

#screen > #prop{
    color: #66D9EF;
}

#screen > #color-code{
    color: #F92672;
}

#keyboard{
    width: 160px;
    height: 85px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid darkgray;
    background-color: lightgray;
    box-shadow: 0px 2px 2px #383636;
}

#keyboard > div{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

#keyboard .key, #keyboard #space-bar{
    height: 7px;
    margin: 1px;
    border-radius: 2px;
    background-color: black;     
}

.key{
    position: relative;
    width: 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

.key.pressed{
    border-top: 1px solid #8C8E8E; /*change color for different key-pressed effects*/
}

#space-bar{
    width: 38px;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

#track-pad{
    position: relative;
    margin: 5px 0 0 0;
    width: 40px;
    height: 25px;
    border-radius: 2px;
    background-color: #bcbcbc;
}

#nav-bar{
    position: relative;
    height: 50px;
    justify-content: space-around;
    background-color: lightgray;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#nav-bar.tucked{
    box-shadow: 0 8px 10px #565757; 
    margin-top: -10px; 
    opacity: .9;
}

#nav-bar .link{
    font-size: 1.2em;
}

#sections-wrapper{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.section-title-stripe{
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    margin: 50px 0;
    font-size: 1.5em;
    color: black;
    background-color: black;
}

.section-title-stripe > *{
    margin: 0 15px;
}

.top-anchor{
    position: absolute;
}

#about-container{
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

#about-container > *{
    margin-top: 25px;
}

#coderain{
    position: relative;
    width: 250px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

#coderain > #rain-bg{
    width: 250px;
    height: 350px;
    background-image: url("/imgs/code_r.png");
    background-position: 50% 100%; 
    background-size: 250px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#coderain > #me-img{
    position: absolute;
    top: 0;
    width: 250px;
    height: 400px;
}

#about-container p{
    width: 75%;
    text-align: center;
}

#about-imgs{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#about-imgs img{
    height: 75px;
    width: auto;
    margin: 15px;
}

.proj-ext-container{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.proj-container{
    position: relative;
    overflow: hidden;
    width: 420px;
    height: 350px;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 25px 10px;
    background-color: green;
    box-shadow: -8px 8px 10px #888888; 

    -webkit-transition: all .5s ease;
    transition: all .5s ease;   
}

.proj-container:hover{
    top: -10px;
    left: 5px;
    box-shadow: -20px 15px 15px #888888;
}

.proj-head{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.proj-link:visited{
    color: black;
}

.project-info-btn, .proj-link{
    align-self: flex-start;
    margin: 15px;
}

.project-info-btn:hover, .proj-link:hover{
    color: white;
}

.flash{
    animation: flash linear 0.3s 0.4s alternate ;
}

@keyframes flash{
    0%   { color: transparent;}
    50% { color: white;}
}

.proj-frame{
    height: 80%;
    width: 100%; 

    background-position: center top; 
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.proj-frame.toggled{
    -webkit-filter: blur(4px);    
    filter: blur(4px);
}

.proj-frame iframe{
    width: 100%;
    height: 100%;
    border: none;
} 

.proj-info-panel{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 110%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-color: rgba(211, 211, 211, 0.8);
    opacity: 0.75;

    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.proj-info-panel > *{
    width: 90%;
    margin: 5px 0;
}

.proj-info-panel.toggled{
    top: 20%;
}

#social-container, #message-container{
    width: 500px;
}

#contacts-cont{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.5em;
}

#contacts-cont > *{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#contacts-cont h4{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#form-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#form-container > *{
    font-size: 0.75em;
    margin: 15px;
}

#form-container > input, #form-container > textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
}

#form-container > input:focus, #form-container > textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #fcac4f;
}

#form-container > input{
    width: 90%;
    height: 30px;
}

#form-container > textarea{
    width: 90%;
    height: 250px;
}

#form-container > button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #fcac4f;
    box-shadow: 0 3px 5px #CF8F43;
}

#form-container > button:hover{
    background-color: #FEC469;
    box-shadow: 0 3px 10px #CF8F43;
}

#soc-btns-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #fcac4f;
    border-bottom: solid 4px whitesmoke;
}

#soc-btns-container > div{
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#soc-btns-container span{
    position: absolute;
    text-shadow: 0 3px 5px #CF8F43;
}

#soc-btns-container span:hover{
    color: #FEC469;
    text-shadow: 0 3px 8px #CF8F43;
}

#about .section-title-stripe{
    background-color: #ffea5e;
}    
    
#web-apps .section-title-stripe, #web-apps .proj-container{
    background-color: #89e4f5;
} 
    
#games .section-title-stripe, #games .proj-container{
    background-color: #f25d7f  ;
} 
    
#contacts .section-title-stripe{
    background-color: #fcac4f;
} 

#proto-proj{
    display: none;
} 

.section-bot{
    width: 100%;
    height: 2px;
}

@media screen and (max-width: 768px){
    #name {justify-content: center;}
    #name > h1{font-size: 1.5em;}
    #name .link{display: none;}
    #nav-bar .link p{display: none;}
    #about-container p{width: 85%;}
    .proj-container{width: 100%; height: 400px;}
    #social-container, #message-container{width: 100%;}
    #social-container h1{font-size: 1.2em;}
    .section-title-stripe{width: 100%; border-radius: 0;}
}

@media screen and (max-height: 450px){
    #top{min-height: 250px;}
    #top-anim > * {margin: 0 25px;}
    #top-anim{flex-flow: row; justify-content: center;}
    #laptop{margin-top: 50px;}
}

@media screen and (max-height: 320px){
    #screen{width: 150px; height: 90px;}
    #keyboard{width: 150px; height: 78px;}
}